.ranking-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto;
  top: 148px;
  width: 489px;
}

.ranking-container h1 {
  color: #3c1b7a;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.ranking-container ol {
  margin: 0;
  padding: 0;
}

.ranking-container li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ranking-container li div {
  align-items: center;
  background-color: #ebebeb;
  border-radius: 100px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row;
  height: 55px;
  justify-content: space-around;
  margin-bottom: 15px;
  width: 386px;
}

.ranking-container li :hover {
  transform: scale(1.02);
}

.ranking-container button {
  background-color: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-bottom: 40px;
  text-transform: uppercase;
  width: 386px;
}

.player-name {
  font-weight: 600;
  text-transform: capitalize;
}

.score {
  font-weight: 700;
}

.avatar {
  border: 0.5px solid white;
  border-radius: 18.5px;
  height: 37px;
  width: 37px;
}

.logo {
  height: 200px;
  margin: 0 auto;
  width: 178px;
}
