header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  height: 113px;
  justify-content: space-evenly;
  right: 0;
  width: 100vw;
}

header img {
  border-radius: 35px;
  height: 70px;
  margin-right: 15px;
  width: 70px;
}

header span {
  align-self: center;
  font-weight: 600;
  margin-right: 15px;
}
